body {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
}
.wrapper-slider {
    overflow: hidden;
}
.slide {
    display: flex;
}
.slide:hover {
    will-change: transform;
}
.slide li {
    width: 80vw;
    flex-shrink: 0;
    max-width: 800px;
    margin: 0 20px;
    transition: 0.4s;
    border-radius: 5px;
    opacity: 0.8;
    overflow: hidden;
    transform: scale(0.8);
}
.slide li.active {
    opacity: 1;
    transform: scale(1);
